# Visual Studio
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
bin/
obj/
out/
build/
*.exe
*.pdb
*.user
*.suo
*.ilk
*.aps
*.ncb
*.idb
*.tlog
*.lastbuildstate
*.recipe

# NuGet Packages
packages/

# Data
*.json
!README.md
!simsus_test_save.json
